/* reset */
/* 1. box-sizing の設定を直感的にする */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. 不要なデフォルトマージンを解除する */
* {
    margin: 0;
    margin-block-end: 0;
}

/* 3. bodyの基本設定（最小高さを画面いっぱいにし、行高を調整） */
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 4. 画像などのメディア要素を扱いやすくする */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    margin: auto;
}

/* 5. フォーム要素（input, buttonなど）に親要素のフォントを継承させる */
input, button, textarea, select {
    font: inherit;
}

/* 6. textarea の改行時の崩れを防ぎ、不要な自動伸縮を制御する */
textarea {
    white-space: revert;
}

/* 7. overflowのスクロール時のテキスト溢れ・挙動を最適化 */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. #app や #root などのJavaScriptフレームワーク用ルート要素の最小高さを確保 */
#root, #__next {
    isolation: isolate;
}


a {
    text-decoration: none;
    color: inherit;
}

/* リストのマーカーと余白をリセット */
:where(ul, ol) {
    list-style: none;
    padding: 0;
}

/* 読み上げソフト向けにリスト構造であることを明示的に保持する設定（必要な場合） */
:where(ul, ol)[role="list"] {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ここからPC */
.section-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
}
section {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* text */
.en-title, .header-nav{
    font-size: 15px;
    letter-spacing: 0.1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.en-title{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.en-title::before {
    content: "";
    width: 10px;
    height: 1px;
}
.concept-text{
    font-family: "Noto Sans JP", sans-serif;
}

h2, .hero-copy, .hero-subtext, p.hatake, #menu dl dt {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 500;
}

#concept h2 {
    font-size: 40px;
}
#new .j-title, #menu .j-title, #gallery .j-title, #faq .j-title, #shop .j-title {
    font-size: 30px;
}
.br-sp {
    display: none;
}

/* フェードイン */
.fade-in {
    opacity: 0;                          
    transform: translateY(40px); 
    transition: opacity 0.8s, transform 1.2s;
}
.fade-in.show {
    opacity: 1;  
    transform: translateY(0); 
}


/* header */
#header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(241,240,230,0.8);
    transition: 1.3s;
    width: 100%;
    padding: 0 30px;
    color: #23281F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#header.scrolled {
    background-color: rgba(241, 240, 230, 1);
}
.header-nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.header-logo img {
    width: 170px;
}
.header-logo {
    height: 80px;
}
#header .instagram img {
    width: 40px;
}

/* hamburger 非表示*/
.hamburger {
    display: none;
}


/* hero */
#home {
    height: 100%;
}
.hero {
    height: 100svh;
    background-image: url(../img/hero.jpg);
    background-position: center;
}
.hero section {
    padding: 0;
}
.hero-inner {
    background-color: rgba(0,0,0,0.6);
    height: 100svh;
}
#home .section-inner {
    position: relative;
    height: 100%;
}
#home h1 {
    position: absolute;
    left: 50%;
    bottom: 140px;
    transform: translateX(-50%)
}
#home h1 img {
    width: 240px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 10px;
}
.hero-copy {
    color: #F1F0E6;
    font-size: 40px;
    letter-spacing: 0.06rem;
    margin-bottom: 14px;
}
.hero-subtext {
    color: #F1F0E6;
    font-size: 20px;
    line-height: 1.8;
}
#home .text-box {
    position: absolute;
    right: 30px;
    bottom: 220px;

}

/* scroll */
.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #F1F0E6;
}
.scroll-down span {
    display: block;
    width: 1px;
    height: 40px;
    background-color: #F1F0E6;
    margin-bottom: 8px;
    animation: scrollLine 1.8s ease-in-out infinite;
}

.scroll-down p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.15rem;
}

@keyframes scrollLine {
    0% { transform: scaleY(0); transform-origin: top; }
    50% { transform: scaleY(1); transform-origin: top; }
    100% { transform: scaleY(0); transform-origin: bottom; }
}


/* concept */
#concept {
    background-color: F1F0E6;
    color: #23281F;
}
#concept .en-title::before {
    background-color: #23281F;
}
#concept .section-inner {
    display: flex;
    justify-content: space-between;
}
#concept .img-wrap, #concept .text-wrap {
    width: calc((100% - 40px) / 2);
}
#concept h2 {
    margin: 40px 0 50px;
}
.concept-text {
    font-size: 18px;
    line-height: 2;
}
.concept-text p {
    padding-bottom: 24px;
}
span.line {
    background: linear-gradient(transparent 50%, #a7c281 60%);
}

/* new */
#new {
    background-color: #23281F;
    color: #F1F0E6;
}
#new .en-title::before {
    background-color: #F1F0E6;
}
#new .j-title {
    color: #C98A3B;
}
#new .hatake-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
#new p.hatake {
    font-size: 40px;
}
#new .img-area {
    display: flex;
    align-items: center;
}
.hatake-title .feature, .main-img-text, .new-price {
    color: #C9C3AC;
}
.img-area-right {
    width: 50%;
    margin-left: 20px;
}
.main-img-text{
    margin-bottom: 40px;
}

.new-thumb {
    display: flex;
    justify-content: flex-start;
}
.new-thumb img {
    cursor: pointer;
    width: calc((100% - 15px) / 3);
    margin-right: 10px;
    border: 3px double transparent;
}
.new-thumb img:hover {
    border-color: #5B6E42;
}
.new-price {
    font-size: 13px;
    letter-spacing: 0.08rem;
    margin-top: 30px;
}
span.big-price {
    color: #F1F0E6;
    font-size: 24px;
    padding-right: 16px;
}




/* menu */
#menu {
    background-color: #F1F0E6;
    color: #23281F;
}
#menu .en-title::before {
    background-color: #23281F;
}
.menu-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
#menu dt {
    font-size: 22px;
    margin-bottom: 6px;
}
#menu dd {
    font-size: 15px;
    letter-spacing: 0.08rem;
}
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}
.menu-grid div {
    margin-bottom: 20px;
}
#menu .notes {
    font-size: 12px;
    color: #777;
    margin-top: 30px;
}


/* 表示 非表示 */
.menu-content {
    display: none;
}
.menu-content.active {
    display: block;
}

/* タブボタン */
.tab-btn {
    padding: 8px 20px;
    border: 1px solid #23281F; 
    background-color: transparent;
    cursor: pointer;
    color: #23281F;
}
.tab-btn.active {
    background-color: #C98A3B;
    color: #F1F0E6;
    border-color: #C98A3B;
}




/* gallery */
#gallery {
    background-color: #C9C3AC;
    color: #23281F;
}
#gallery .en-title::before {
    background-color: #23281F;
}

/* #gallery .section-inner {
    width: 960px;
    padding: 0;
} */
#gallery .title-wrap {
    display: flex;
    justify-content: space-between;
}
#gallery .en-title {
    margin-bottom: 50px;
}
#gallery img {
    width: calc((100% - 24px) / 4);
    margin-bottom: 8px;
}
.shop-image {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}



/* faq */
#faq {
    background-color: #F1F0E6;
    color: #23281F;
}
#faq .en-title::before {
    background-color: #23281F;
}
#faq h2 {
    margin-bottom: 20px;
}
.faq-question {
    cursor: pointer;
    padding: 16px;
    position: relative;
    border-bottom: 1px solid #C9C3AC;
}
.faq-question::after {
    content: "+";
    position: absolute;
    right: 16px;
}
.faq-question.active::after {
    content: "-";
}
.faq-answer {
    display: none;
    padding: 16px;
    background-color: #F1F0E6;
}
.faq-answer.active {
    display: block;
}


/* shop */
#shop {
    background-color: #5B6E42;
    color: #F1F0E6;
}
#shop .section-inner {
    display: flex;
    gap: 60px;
}
#shop .j-title {
    margin-bottom: 40px;
}
#shop .en-title::before {
    background-color: #F1F0E6;
}

.shop-item {
    margin-bottom: 14px;
}
.shop-map {
    flex: 1;
}
.shop-map iframe {
    width: 100%;
    height: 400px;
    border: 0;
}
address {
    font-style: normal;
}
.shop-en {
    text-align: left;
    color: #C9C3AC;
    font-size: 12px;
}
.hours td {
    padding-right: 30px;
}
.shop-item-main, .hours td {
    font-size: 15px;
}



/* footer */
#footer {
    background-color: #F1F0E6;
    border-top: 1px solid #C9C3AC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: #23281F;
}
.footer-logo img {
    width: 160px;
}
.footer-list {
    font-size: 12px;
    display: flex;
    gap: 20px;

}
.copyright {
    font-size: 10px;
}

/* レスポンシブ */
@media (max-width: 768px) {
.section-inner {
    max-width: 768px;
    padding: 0 16px;
}
section {
    padding-top: 50px;
    padding-bottom: 70px;
}

/* text */
.en-title, .header-nav{
    font-size: 15px;
}
.en-title{
    font-size: 14px;
}
.concept-text{
    font-family: "Noto Sans JP", sans-serif;
}
#concept h2 {
    font-size: 34px;
}
#new .j-title, #menu .j-title, #gallery .j-title, #faq .j-title, #shop .j-title {
    font-size: 24px;
}
.br-sp {
    display: block;
}
.br-pc {
    display: none;
}


/* header */
#header {
    padding: 0 16px;
}
.header-logo img {
    height: 60px;
    width: auto;
}
.header-logo {
    height: 60px;
}
/* sp-nav */
.header-nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #F1F0E6;
    transition: right 0.4s;
    z-index: 100;
}
.header-nav.active {
    right: 0;
}
.header-nav ul{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 100px 30px;
}
.header-nav li:not(:last-child)::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 1px;
    background-color: #23281F;
    vertical-align: middle;
    margin: 0 8px 2px 0;
}
/* hamburger */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    z-index: 999;
}
.hamburger span {
    display: block;
    height: 1px;
    background-color: #23281F;
    transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}


/* hero */
#home {
    padding-top: 80px;
}
    
#home h1 img {
    width: 180px;
}
#home h1 {
    bottom: 140px;
}
.hero-copy {
    font-size: 38px;
    letter-spacing: 0.02rem;
    margin-bottom: 10px;
    text-align: right;
}
.hero-subtext {
    font-size: 18px;
    line-height: 1.6;
    text-align: right;
}
#home .text-box {
    right: 0;
    top: 60px;
}


/* concept */
#concept .section-inner {
    display: block;
}
#concept .img-wrap, #concept .text-wrap {
    width: 100%;
}
#concept img {
    object-fit: cover;
    width: 100%;
    height: 340px;
}
#concept h2 {
    margin: 6px 0 20px;
}
.concept-text {
    font-size: 15px;
    line-height: 1.6;
}
.concept-text p {
    padding-bottom: 12px;
}
#concept .en-title {
    margin-top: 30px;
}

/* new */
#new .hatake-title {
    display: block;
}
#new p.hatake {
    font-size: 34px;
}
#new .j-title {
    font-size: 20px;
}
#new .feature, .main-img-text {
    font-size: 15px;
}
#new .img-area {
    flex-direction: column;
}
#new .hatake-title {
    margin-bottom: 20px;
}

#item1 {
    margin-bottom: 10px;
}
.img-area-right {
    width: 100%;
    margin-left: 0;
}
.main-img-text{
    margin-bottom: 20px;
}
.new-thumb {
    justify-content: space-between;
    margin-bottom: 30px;
}
.new-thumb img {
    margin: 0;
    border: none;
}
.new-price {
    margin-top: 10px;
}
span.big-price {
    font-size: 18px;
}



/* menu */
.menu-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}
#menu .j-title{
    margin-bottom: 10px;
}
.menu-tabs button {
    margin-bottom: 6px;
}
#menu dt {
    font-size: 18px;
    margin-bottom: 5px;
}
#menu dd {
    font-size: 13px;
    letter-spacing: 0;
}
.menu-grid {
    grid-template-columns: 1fr;
    gap: 0;
}
.menu-grid div {
    margin-bottom: 10px;
}
#menu .notes {
    margin-top: 20px;
}



/* gallery */
#gallery .section-inner {
    max-width: 768px;
    width: 100%;
    padding: 0 16px;
}
#gallery .title-wrap {
    align-items: baseline;
}
#gallery .en-title {
    margin-bottom: 30px;
}
#gallery img {
    width: calc((100% - 10px) / 2);
}


/* faq */
.faq-item {
    font-size: 15px;
}


/* shop */
#shop .section-inner {
    flex-direction: column;
    gap: 10px;
}
#shop .j-title {
    margin-bottom: 30px;
}
.shop-item {
    margin-bottom: 10px;
}
.shop-map iframe {
    height: 350px;
}



/* footer */
#footer {
    flex-direction: column;
    gap: 10px;
}
.footer-list {
    font-size: 11px;
    margin-top: 20px;
}
.copyright {
    font-size: 9px;
    margin-bottom: 20px;
}





}
